tmpEuroSAT_p_old/
tmpEuroSAT_p_user/
tmpHyperview_p/
tmpHyperview_p_old/
tmpHyperview_p_user/
utils.egg-info/
utils.egg-info_old/
result/
.o/
EuroSAT/result/
EuroSAT/data/
EuroSAT/venv/
EuroSAT/venv_old_root/
EuroSAT/configuration/_pycache__/
Hyperview/data/
Hyperview/result/
Hyperview/venv/
Hyperview/venv_old_root/
Hyperview/configuration/_pycache__/


